camera
color
zwischenergebnisse/drei-spheres.ppm
color
helloworld
hittable_list
image.ppm
sphere
zwischenergebnisse/anti-aliasing.ppm
zwischenergebnisse/beautiful-background.ppm
zwischenergebnisse/drei-kugeln.ppm
zwischenergebnisse/kugel-mit-buntem-hintergrund.ppm
zwischenergebnisse/lighter-background.ppm
zwischenergebnisse/little-image.ppm
image.ppm
color
helloworld
zwischenergebnisse/diffuse-what.ppm
zwischenergebnisse/diffuse-1.ppm
zwischenergebnisse/diffuse-low-depth.ppm
zwischenergebnisse/mega-diffuse.ppm
image.ppm
color
zwischenergebnisse